* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a, a:hover {
  text-decoration: none;
}

.navbar {
  padding: 1rem 0;
}

.border-top {
  border-top: 0.5px solid #eee;
}

.d-block {
  display: block;
}

.blog-container-height {
  min-height: 82.5vh;
}

.footer {

}