{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if title %}
    <title>5th Estate - {{ title }}</title>
  {% else %}
    <title>5th Estate</title>
  {% endif %}

  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.css">
  <link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
</head>
<body class="">
  {% include 'blog/navbar.html' %}
  <div class="blog-container-height">
    {% block content %}{% endblock %}
  </div>
  {% include 'blog/footer.html' %}
  <script src="{% static 'blog/js/blog.js' %}"></script>
</body>
</html>